:root {
  --ifm-color-primary: #244f87;
  --ifm-color-primary-dark: #204779;
  --ifm-color-primary-darker: #1e4372;
  --ifm-color-primary-darkest: #19375e;
  --ifm-color-primary-light: #285795;
  --ifm-color-primary-lighter: #2a5b9c;
  --ifm-color-primary-lightest: #3067b0;
}
